<!DOCTYPE html>
{% load static %}
{% load cookielaw_tags %}

<html lang="et">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
      {% block title %}test.valgalinn.ee{% endblock %}
    </title>

    <script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>


    <!--  Laetavad moodulid-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
		<!-- Vue development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    {% block src %}{% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'main/main.css' %}?ver=2021.06">
    <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}">
    {% block css %}{% endblock %}

  </head>
  <body class="Site w3-light-grey">
{#    {% include "main/cookie-consent.html" %}#}
    {{ cookielaw }}
    {% rejectable_cookielaw_banner %}
    <main class="Site-content">
      {% block content %}{% endblock %}
    </main>
    {% block javascript %}{% endblock %}
  </body>
</html>