<!DOCTYPE html>
{% load static %}

<html lang="et">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
      {% block title %}test.valgalinn.ee{% endblock %}
    </title>

    <!--  Laetavad moodulid-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
		<!-- Vue development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    {% block src %}{% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'main/main.css' %}?ver=2021.06">
    {% block css %}{% endblock %}

  </head>
  <body class="Site w3-light-grey">
    <main class="Site-content">
      {% block content %}{% endblock %}
    </main>

    <script>
      // Cookie compliance message
      // @FacepalmRobot https://codepen.io/FacepalmRobot/pen/ldFnr

      (function(){
        //Change these values
        var msg = (
          'valgalinn.ee kasutab mugavama sirvimise huvides küpsiseid. ' +
          '<a href="{% url 'privacy' %}">Lisateave.</a>'
        );
        var closeBtnMsg = "Nõustun";
        var privacyLink = "https://www.google.com";

        //check cookies
        if(document.cookie){
          var cookieString = document.cookie;
          var cookieList = cookieString.split(";");
          // if cookie named OKCookie is found, return
          for(x = 0; x < cookieList.length; x++){
            if (cookieList[x].indexOf("OKCookie") !== -1){return}
          }
        }

        var docRoot = document.body;
        var okC = document.createElement("div");
        okC.setAttribute("id", "okCookie");
        var okCp = document.createElement("p");
        var okcText = document.createTextNode('');

        //close button
        var okCclose = document.createElement("a");
        var okcCloseText = document.createTextNode(closeBtnMsg);
        okCclose.setAttribute("href", "#");
        okCclose.setAttribute("id", "okClose");
        okCclose.appendChild(okcCloseText);
        okCclose.addEventListener("click", closeCookie, false);

        //add to DOM
        okCp.appendChild(okcText);
        okCp.innerHTML = msg;
        okC.appendChild(okCp);
        okC.appendChild(okCclose);
        docRoot.appendChild(okC);

        okC.classList.add("okcBeginAnimate");

        function closeCookie(){
          var cookieExpire = new Date();
          cookieExpire.setFullYear(cookieExpire.getFullYear() +2);
          document.cookie="OKCookie=1; expires=" + cookieExpire.toGMTString() + "; SameSite=Lax; Secure";
          docRoot.removeChild(okC);
        }

      })();
    </script>

    {% block javascript %}{% endblock %}
  </body>
</html>