{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ block.super }} mängunurk{% endblock %}

{% block src %}
  <script type="text/javascript">
    // Muutujad vue jaoks
    var host = 'http://3.136.97.151:8000'
  </script>
{% endblock %}

{% block content %}
  <div class="w3-container">
    <a
        href="{% url 'sandbox' %}"
        class="w3-bar-item w3-button w3-theme-d4 w3-hover-white">
      RFK analüüs
    </a>
    <br>
    <a
        href="{% url 'kysimustik2' %}"
        class="w3-bar-item w3-button w3-theme-d4 w3-hover-white">
      Küsimustiku proto 2
    </a>
    <br>
    <a
        href="{% url 'kysimustik3' %}"
        class="w3-bar-item w3-button w3-theme-d4 w3-hover-white">
      Küsimustiku proto 3
    </a>
    <br>
    <a
        href="{% url 'kysimustik4' %}"
        class="w3-bar-item w3-button w3-theme-d4 w3-hover-white">
      Küsimustiku proto 4
    </a>
  </div>
{% endblock %}

{% block javascript %}{% endblock %}