{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ block.super }} mängunurk{% endblock %}

{% block src %}
  <script type="text/javascript">
    // Muutujad vue jaoks
    var host = 'http://3.136.97.151:8000'
    var urlICFPath = "{% url 'main:get_icf_path' %}"
    var urlICFCalcs = "{% url 'main:get_icf_calcs' %}"
    var urlICFSummary = "{% url 'main:get_icf_summary' %}"
  </script>
{% endblock %}

{% block css %}
  <style>
    .verticalColumnHeader {
      display:flex;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      justify-content:center;
      align-items:center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="w3-container" id="watch-example">

    <div class="w3-container">
      <h2>RFK mängunurk</h2>
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Mis värk on?</button>
      <button v-on:click="makeDemo" class="w3-button w3-black">Demo</button>

      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>RFK mängunurka saab erinevate valdkondade alla lisada RFK koodide komplekte koos määrajatega.</p>
            <p>Määrajate alusel grupeeritakse need 1. (nt b2), 2. (nt b230) ja 3. taseme (b230-b249) järgi.</p>
            <p>Risttabel arvutatakse nii:</p>
            <ul>
              <li>leitakse grupi määrajate keskmine nt b230.1 ja b240.2 -> 1,5</li>
              <li>leitakse rea ja veeru väärtuse keskmine d4=2,5 ja b2=1,5 -> 2,0</li>
              <li>saadud keskmine ümardatakse üles 2,0 -> 2, 2,2 -> 3 jne</li>
            </ul>
            <p>Kokkuvõttes võetakse kõikide valdkondade unikaalsed koodid ja tehakse sama operatsioon nagu valdkonniti</p>
          </div>
        </div>
      </div>
    </div>


    <div class="w3-container">
      <p>
        RFK kood (ilma määrajateta):<br>
        <input v-model="rfkCode">
        [[ rfkPath ]]
      </p>
    </div>
    <div
						class="w3-bar"
				>
					<button
							class="w3-bar-item w3-button tablink"
							v-for="input in inputs"
							v-on:click="openTab($event, 'valdkond_' + input.id)"
					>Valdkond [[ input.id ]] ([[ input.len ]])</button>
				</div>
    <div
        class="w3-row w3-padding-16 w3-border tab"
        v-for="input in inputs"
        v-bind:style="[(input.id===1) ?  {'display': ''}: {'display': 'none'}]"
        v-bind:key="input.id"
				v-bind:id="'valdkond_' + input.id"
    >
      <div class="w3-container w3-padding">
        <strong>[[ input.category ]]</strong>
      </div>
      <div class="w3-col l1">
        <div class="w3-container">
          <textarea
                  v-model="input.question"
                  placeholder="Siia kirjuta või kleebi RFK koodid koos määrajatega (e ja s koode ignoreeritakse)"
                  rows="10"
                  cols="10"
          ></textarea>
        </div>
      </div>
      <div class="w3-col l2">
        <div class="w3-container">
          <span v-html="input.result1"></span>
        </div>
      </div>
      <div class="w3-col l3">
        <div class="w3-container">
          <span v-html="input.result2"></span>
        </div>
      </div>
      <div class="w3-col l3">
        <div class="w3-container">
          <span v-html="input.result3"></span>
        </div>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-container w3-padding">
        <strong>Kokkuvõte</strong>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col l3 w3-container">
        <span v-html="resultSummary0"></span>
      </div>
      <div class="w3-col l3 w3-container">
        <span v-html="resultSummary2"></span>
      </div>
      <div class="w3-col l3 w3-container">
        <span v-html="resultSummary3"></span>
      </div>
    </div>

    <div class="w3-row w3-small w3-container w3-padding">
      [[ answer ]]
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="{% static 'main/main.js'%}?ver=2021.06.13"></script>
{% endblock %}