{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ block.super }} küsimustiku proto 10{% endblock %}

{% block src %}
  <!-- Bootstrap core JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Custom javascript for this template -->
  <script type="text/javascript">
    // Muutujad vue jaoks
    var urlSaveResults = "{% url 'main:save_kysimustik10_results' %}";
    var urlRefreshEkspertiis = "{% url 'main:get_kysimustik10_ekspertiis' %}";
    var selectedSkaala = {{ selectedSkaala }};
    const vanusgrupid = {{ vanusgrupid | safe }};
    const vanusgruppideMuutumatudSeisundid = {{ vanusgruppideMuutumatudSeisundid | safe }};
    const vanusgruppideV6tmetegevused = {{ vanusgruppideV6tmetegevused | safe }};
    const vanusgruppideKysimused = {{ vanusgruppideKysimused | safe }};
    const vanusgruppideYldKysimused = {{ vanusgruppideYldKysimused | safe }};
    const vanusgruppideFailiTekstid = {{ vanusgruppideFailiTekstid | safe }};
    var ipAddress = "{{ ip }}";
  </script>
{% endblock %}

{% block css %}
<!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'main/kysimustik10.css' %}?ver=2026" >
{% endblock %}

{% block content %}
  <div class="w3-container" id="kysimustik10">
    {% include "main/kysimustik10_top.html" %}
    <h3 >[[ vanusgrupid[selectedVanusgrupp].pealkiri ]]</h3>
    <img src="{% static 'main/img/yldinfo.png' %}" alt="Taotluse üldinfo" class="kysimustik10-pilt">
    <hr>
    <img src="{% static 'main/img/raviarstid.png' %}" alt="Raviarstid ja spetsialistid" class="kysimustik10-pilt">
    <h3>Enesehinnangu küsimustik</h3>
    {% comment %} {% include "main/kysimustik10_muutumatu_seisund.html" %} {% endcomment %}
    {% include "main/kysimustik10_yld_kysimused.html" %}
    {% include "main/kysimustik10_skaala_kysimused.html" %}
    {% include "main/kysimustik10_ekspertarsti_vaade.html" %}
    <h3>Lisa soovi korral dokumendid ja lisainformatsioon</h3>
    {% include "main/kysimustik10_faili_lisamine.html" %}
    <img src="{% static 'main/img/bottom.png' %}" alt="Toetuse ja puudega isiku kaardi taotlemine" class="kysimustik10-pilt">
    {% comment %} {% include "main/kysimustik10_tagasiside.html" %} {% endcomment %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main/kysimustik10.js' %}?ver=2026"></script>
  <script>
    function setChoice(el) {
      for (let i = 0; i < 5; i++) {
        const sibling = document.getElementById(el.id.split('-')[0] + '-' + i + '-legend');
        if (sibling) {
          sibling.classList.remove('visible');
          sibling.classList.add('not-visible');
        }
      }
      var legendElement = document.getElementById(el.id + '-legend');
      if (legendElement) {
        legendElement.classList.add('visible');
        legendElement.classList.remove('not-visible');
      }
    }
  </script>
{% endblock %}