{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ block.super }} küsimustiku proto 4{% endblock %}

{% block src %}
{% endblock %}

{% block css %}
  <style>
    .question {
      width: 300px;
    }

    .unanswered {
      width: 100px;
      text-align: center;
    }

    .poll {
      width: 30px;
      text-align: center;
    }

    .result {
      width: 80px;
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="w3-container" id="kysimustik4">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">
      Mis värk on?
    </button>
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <p>Enesehinnangust piirangu määraja arvutamine inimese valiku järgi</p>
          <ul>
            <li>inimene teeb valiku skaalal 1-10 -> valik</li>
            <li>skoor = 4 / 10 * valik (arvutatakse kahe komakoha täpsusega)</li>
            <li>määraja = 0, kui skoor < 2,00</li>
            <li>määraja = 2, kui 2,00 <= skoor < 2,76</li>
            <li>määraja = 3, kui 2,76 <= skoor < 3,50</li>
            <li>määraja = 4, kui 3,50 <= skoor</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w3-panel w3-padding w3-card">
      <h4>Enesehinnangu küsimustik</h4>
      <span>Kas on mõni küsimustiku täitmist lihtsustav seisund?</span>
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          [[ option.text ]]
        </option>
      </select>
      <span v-if="simplified">Võid järgneva küsimustiku täitmise vahele jätta </span>
      <p>Palun hinda oma hakkamasaamist järgmiste tegevuste puhul 10-pallilisel skaalal, kus:</p>
      <p>1  = Hakkamasaamisega ei ole probleemi ja 10 = Ei saa selle tegevusega üldse hakkama</p>
      <button @click="show = !show">
        <span v-if="show">Ära näita valdkondi/võtmetegevusi</span>
        <span v-else>Näita  valdkondi/võtmetegevusi</span>
      </button>
      <div>
        <table>
          <tr>
            <th class="question"></th>
            <th class="unanswered">Jätan vastamata</th>
            <th class="poll" v-for="n in 10" :key="n">
              [[ n ]]
            </th>
            <th v-show="show" class="result" title="Skoor 0-4 PISTS kord arvutamise metoodika alusel">MM18</th>
          </tr>
        </table>
        <div v-for="(valdkond, valdkondIndex) in valdkonnad">
          <span v-show="show">[[ valdkond[0] ]]</span>
          <div v-for="(v6tmetegevus, v6tmetegevusIndex) in valdkond[1]">
            <span v-show="show">[[ v6tmetegevus[0] ]]</span>
            <div v-for="(kysimus, kysimusIndex) in v6tmetegevus[1]">
              [[ valdkondIndex+1 ]].[[ v6tmetegevusIndex+1 ]].[[ kysimusIndex+1 ]] [[ kysimus[0] ]]<br>
              <table>
                <tr>
                  <td class="question"></td>
                  <td class="unanswered">
                    <input type="radio" :id="0" :value="0" v-model.number="kysimus[1]"/>
                    <label :for="0"></label>
                  </td>
                  <td class="poll" v-for="n in 10" :key="n">
                    <input type="radio" :id="n" :value="n" v-model.number="kysimus[1]"/>
                    <label :for="n"></label>
                  </td>
                  <td v-show="show" class="result">[[ score2_uus(valdkondIndex, v6tmetegevusIndex, kysimusIndex) ]]</td>
                </tr>
              </table>
              <p v-show="kysimus[1] > 4">
                Palun täpsusta, mis piirangut põhjustab:<br>
                <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
              </p>
            </div>
          </div>
        </div>
      </div>
      <table>
        <tr>
          <th class="question"></th>
          <th>Jätan vastamata</th>
          <th class="poll" v-for="n in 10" :key="n">
            [[ n ]]
          </th>
          <th v-show="show" class="result" title="Skoor 0-4 PISTS kord arvutamise metoodika alusel">MM18</th>
        </tr>

        <tr v-show="show">
          <td><strong>Liikumine</strong></td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 1</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m]"/>
            <label :for="n"></label>
          </td>
          <td  v-show="show" class="result">[[ score2(m) ]]</td>
          <td v-show="picked[m] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 2</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m+3 ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m+3]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m+3]"/>
            <label :for="n"></label>
          </td>
          <td  v-show="show" class="result">[[ score2(m+3) ]]</td>
          <td v-show="picked[m+3] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
        <tr><br></tr>
        <tr v-show="show">
          <td><strong>Käeline tegevus ja enesehooldus</strong></td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 1</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m+6 ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m+6]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m+6]"/>
            <label :for="n"></label>
          </td>
          <td  v-show="show" class="result">[[ score2(m+6) ]]</td>
          <td v-show="picked[m+6] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 2</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m+9 ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m+9]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m+9]"/>
            <label :for="n"></label>
          </td>
          <td  v-show="show" class="result">[[ score2(m+9) ]]</td>
          <td v-show="picked[m+9] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
      </table>
    </div>
    <div class="w3-panel w3-padding w3-card">
      <div v-for="n in 3" :key="n">
        <p>Vabateksti küsimus [[ n ]]</p>
        <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://unpkg.com/vue@next"></script>
  <script src="{% static 'main/kysimustik4.js' %}?ver=2021.10.26"></script>
{% endblock %}