{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ block.super }} küsimustiku proto{% endblock %}

{% block src %}
  <script type="text/javascript">
    // Muutujad vue jaoks
    // var host = 'http://3.136.97.151:8000'
    // var urlICFPath = "{% url 'main:get_icf_path' %}"
  </script>
{% endblock %}

{% block css %}
  <style>
    .verticalColumnHeader {
      display:flex;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      justify-content:center;
      align-items:center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="w3-container" id="kysimustik1">
    <div class="w3-container">
      <ul id="categoriesLevel1">
        <div v-for="(category, index) in categoriesLevel1">
          <input
                  :id="category.text"
                  :value="category"
                  name="category"
                  type="checkbox"
                  v-model="checkedCategoriesLevel1"
          />
          <label :for="category.text"><span>[[ category.text ]]</span></label>
        </div>
      </ul>
      <br>
      <span>Checked names: [[ checkedCategoriesLevel1 ]]</span>
    </div>
    <div class="w3-bar">
      <button
          class="w3-bar-item w3-button tablink"
          v-for="category in categoriesLevel1"
          v-show="checkedCategoriesLevel1.map(a => a.value).includes(category.value)"
{#          v-bind:style="[(checkedCategoriesLevel1.map(a => a.value).includes(category.value)) ?  {'display': ''}: {'display': 'none'}]"#}
          v-on:click="openTab($event, 'valdkond_' + category.value)"
          v-bind:id="'valdkond_' + category.value + '_tablink'"
      >
        [[ category.text ]]</span>
      </button>
    </div>
    <div
        class="w3-row w3-padding-16 w3-border tab"
        v-for="category in categoriesLevel1"
        v-show="checkedCategoriesLevel1.map(a => a.value).includes(category.value)"
        v-bind:style="[(category.value===selectedCategoriesLevel1) ?  {'display': ''}: {'display': 'none'}]"
        v-bind:key="category.value"
        v-bind:id="'valdkond_' + category.value"
    >
      <div class="w3-container w3-padding">
        <strong>[[ category.text ]]</strong>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main/kysimustik1.js' %}?ver=2021.07.22"></script>
{% endblock %}