{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ block.super }} küsimustiku proto 4{% endblock %}

{% block src %}
{% endblock %}

{% block css %}
  <style>
    .question {
      width: 300px;
    }

    .poll {
      width: 30px;
      text-align: center;
    }

    .result {
      width: 80px;
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="w3-container" id="kysimustik4">
    <div class="w3-panel w3-padding w3-card">
      <h4>Enesehinnangu küsimustik</h4>
      <p>Palun hinda oma hakkamasaamist järgmiste tegevuste puhul 10-pallilisel skaalal, kus:</p>
      <p>1  = Hakkamasaamisega ei ole probleemi ja 10 = Ei saa selle tegevusega üldse hakkama</p>
      <button @click="show = !show">
        <span v-if="show">Ära näita valdkondi/võtmetegevusi</span>
        <span v-else>Näita  valdkondi/võtmetegevusi</span>
      </button>
      <table>
        <tr>
          <th class="question"></th>
          <th>Jätan vastamata</th>
          <th class="poll" v-for="n in 10" :key="n">
            [[ n ]]
          </th>
          <th class="result" title="Skoor 0-4 PISTS kord arvutamise metoodika alusel">MM18</th>
          <th class="result" title="Skoor 0-4 RFK määraja arvutamise metoodika alusel">RFK</th>
        </tr>

        <tr v-show="show">
          <td><strong>Liikumine</strong></td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 1</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m]"/>
            <label :for="n"></label>
          </td>
          <td class="result">[[ score2(m) ]]</td>
          <td class="result">[[ score3(m) ]]</td>
          <td v-show="picked[m] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 2</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m+3 ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m+3]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m+3]"/>
            <label :for="n"></label>
          </td>
          <td class="result">[[ score2(m+3) ]]</td>
          <td class="result">[[ score3(m+3) ]]</td>
          <td v-show="picked[m+3] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
        <tr><br></tr>
        <tr v-show="show">
          <td><strong>Käeline tegevus ja enesehooldus</strong></td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 1</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m+6 ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m+6]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m+6]"/>
            <label :for="n"></label>
          </td>
          <td class="result">[[ score2(m+6) ]]</td>
          <td class="result">[[ score3(m+6) ]]</td>
          <td v-show="picked[m+6] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
        <tr v-show="show">
          <td>Võtmetegevus 2</td>
        </tr>
        <tr v-for="m in 3" :key="m">
          <td>Kysimus [[ m+9 ]]</td>
          <td class="poll">
            <input type="radio" :id="0" :value="0" v-model.number="picked[m+9]"/>
            <label :for="0"></label>
          </td>
          <td class="poll" v-for="n in 10" :key="n">
            <input type="radio" :id="n" :value="n" v-model.number="picked[m+9]"/>
            <label :for="n"></label>
          </td>
          <td class="result">[[ score2(m+9) ]]</td>
          <td class="result">[[ score3(m+9) ]]</td>
          <td v-show="picked[m+9] > 4">
            <p>Palun täpsusta, mis piirangut põhjustab</p>
            <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
          </td>
        </tr>
      </table>
    </div>
    <div class="w3-panel w3-padding w3-card">
      <div v-for="n in 3" :key="n">
        <p>Vabateksti küsimus [[ n ]]</p>
        <textarea placeholder="siia saab kirjutada pika jutu..."></textarea>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://unpkg.com/vue@next"></script>
  <script src="{% static 'main/kysimustik4.js' %}?ver=2021.10.26"></script>
{% endblock %}